<div

>

<table style="width: 100%;">
  <tr>
    <td></td> 
    <td style="text-align: center;">
      <img src="https://scontent.fwnp1-1.fna.fbcdn.net/v/t39.30808-6/416361391_3570702596514517_5617565925697268186_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=3635dc&_nc_eui2=AeFgjR-dPwsml2jhoekDhRIDqijj7YoftFaqKOPtih-0VuDsEUBBGkZi_Ntjmv2O5u4MtKxwsggzZmqJJkHJnL1i&_nc_ohc=hHT4Nrzm9TAAX8gcoVn&_nc_ht=scontent.fwnp1-1.fna&oh=00_AfCJ2JYtAJYrRNn9SV82_-WUnL3hN5dvA1hgz75a7wKL9Q&oe=65A00211" 
        style="border:none; width:auto; height:150px; object-fit: cover;"
      /> 
    </td>
    <td></td>
  </tr>
</table>

</div>