<div>
  <table style="width: 100%;">
    <tr>
      <td></td> 
      <td style="text-align: center;">
        <img src="https://217.196.51.115/m/api/images?filePath=logo-big.png" 
             style="border:none; width:auto; height:200px; object-fit: cover;"
        /> 
      </td>
      <td></td>
    </tr>
  </table>
</div>
