<%- include('../includes/header.ejs') %>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
  <h3>Hello, <%= name %></h3>
  <p>There's an attempt in signing in to your account <br> If this is you, here's your OTP</p>
  <h1><%= otp %></h1>
</div>

<%- include('../includes/footer.ejs') %>